body { 
    font-family:'Oxygen',sans-serif;
    font-size:0.8em;
    color:#333333;
    background-color: #ffffff;
    height: 100%;
}

.container {
    /* top level container for all content, left aligned inside a centered body   *
     * optimized for a tablet -kdf                                                                                              */
    position: relative;
    min-height: 100%;
    width: 900px;
    margin: 0px auto;
    text-align: left;
}

.login-box {
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    position: absolute;
    margin: 30% 0 0 40%;
}

.blue {
	color: #475b64;
}

#dialog-form {
    min-height: 1px;
}

/* TABLES */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    padding-right: 10px;
}

#backlog-table {
    margin-left:auto;
    margin-right:auto;
}

#backlog-table th { 
    padding:7px 15px; 
    text-align:center;
}
#backlog-table td {
    background:#f6f4da none repeat-x scroll center left;
}

#backlog-table tr.odd td {
    cursor:pointer; 
}

#backlog-table tr:not(.odd) td {
    background:#f3fbe7 none repeat-x scroll center left;
}

.acc-cri-tbl {
        margin:auto;
        border: none;
        width: 100%;
}

.acc-cri-td {
    vertical-align: top;
}

#messages {
    position: fixed;
    top: 1em;
    right: 1em;
}

/* INPUTS */

label {
    display:block;
}
textarea {
    display:block;
    width: 100%;
    height: 50px;
    resize: none;
}

#id_backlog-skills {
    width: 100%;
}

input[name='action-update-estimate'] {
    display: inline;
}

.input-field {
    padding: 2px;
    display: inline;
}

/* BUTTONS */

#login-button {
    position:relative;
    float:right;
}

.button-right-al {
    position:relative;
    float:right;
}

/* LINKS */

a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    color: blue;
}

.delete-row {
    margin-left:5px;
    position:relative;
    display: inline;
    float:right;
}

.pagination {
    display: block;
}

.pagination a {
	font-size: 14px;
	border: 1px solid #A9A9A9;
	transition: background-color .3s;
	margin: 0 0px;
	background-color: #7285A5;
	color: white;
	padding: .5px 4px;
}

.pagination a:hover:not(.active) {background-color: #588BAE;}

.center {
    text-align: center;
}

table.noBorder{
	border:0
}

tr.noBorder td{
	border:0;
}