{%extends 'shared/base.html'%}
{%block content%}
  <h1>Hello Beautiful Person!</h1>
  <p style="font-size:200%;">This is Alliance, the volunteer workspace for Northbridge.</p>
		{% if user and not user.is_anonymous %}
  		<br>
  		<a href="/logout">Logout</a>
		{% else %}
			<a href="{% url 'social:begin' 'github' %}" style="font-size: 180%;color:#f7f8ef;border: 1px solid;border-radius: 5px;padding: 10px;background-color: #475b64;">
				<img src="http://northbridgetech.org/images/github_dae0bc_32.png" style="margin-right:10px;vertical-align:top;"/>Sign in with GitHub
			</a>
		{% endif %}
{%endblock%}
