{%extends 'shared/base.html'%}
{%block content%}
  <h2>Hello Beautiful Person!</h2>
	<div style="position:relative;font-size:150%;width:260px;">
		This is Alliance, the volunteer workspace for Northbridge.
	</div>
	<div style="position:relative;left:260px;top:-30px;font-size:150%;}" >
		<a href="{% url 'social:begin' 'github' %}" style="margin-left:50px;vertical-align:middle;color:#f7f8ef;border: 1px solid;border-radius:8px;padding: 10px;background-color: #475b64;">
			<img src="http://northbridgetech.org/images/github_dae0bc_32.png" style="margin-right:10px;vertical-align:top;"/>Sign in with GitHub
		</a>
	</div>
	<a href="https://twitter.com/northbridgenfp" target="_blank"><span class="fa fa-twitter fa-3x blue" style="margin-left:5px;"></span></a>
	<a href="https://www.linkedin.com/company/2232384" target="_blank"><span class="fa fa-linkedin fa-2x blue" style="margin-left:5px;"></span></a>
	<a href="https://www.facebook.com/northbridgenfp#" target="_blank"><span class="fa fa-facebook-square fa-2x blue" style="margin-left:5px;"></span></a>
	<a href="https://github.com/Northbridge/playbook/wiki/1.How-We-Do" style="font-size:140%;margin-left:20px;text-decoration:normal;text-decoration:underline;" target="_blank">Read More</a>
{%endblock%}
