{% extends "shared/base.html" %}
{% load i18n %}

{% block head %}
	{% if teams %}
	
		<script type="text/javascript" language="javascript">
		$(document).ready(function(){
				
				var getting = $.get("{% url 'chooseTeam' %}");
				getting.done(function (data) {
					if (data.success) {
						$("#dialog-form").remove();
						$("body").append(data.html);
						$("#dialog-form").dialog({modal: true});
						var dialog, form, team = $("#team");
						dialog = $("#dialog-form").dialog({
							autoOpen: false,
							width: 190,
							modal: true,
							buttons: {
								Submit: function() {
									var data = $(form).serializeArray();
									var posting = $.post("/alliance/core/chooseTeam", $.param(data));
								
									posting.done( function (data) {
										if (data.success) {
											showMessage("Fetching backlogs for selected team...");
											redirectToBacklog("{% url 'backlogs' %}");
										} else {
											showErrors(data.messages);
										}
										dialog.dialog( "close" );
									});
									posting.fail(function (xhr) {
										if (xhr.status == '401') {
											redirectToLogin("{% url 'login' %}", $(location).attr('pathname'));
										}
									});
								},
								Cancel: function() {
									alert("You have cancelled your request. No backlogs will be fetched now. Please choose a team & submit to fetch backlogs !");
									dialog.dialog( "close" );
									//showMessage("You have cancelled your request. Loading backlog for the first team in the list by default...");
									//redirectToBacklog("{% url 'backlogs' %}");
								}
							},
							close: function() {
								form[0].reset();
								team.removeClass( "ui-state-error" );
							}
						});
						
						form = dialog.find("#choose-team-form");
					} else {
						showErrors(data.messages);
					}
				});
				getting.fail(function (xhr) {
					if (xhr.status == '401') {
						redirectToLogin("{% url 'login' %}", $(location).attr('pathname'));
					}
				});
				return false;
				
			});
		 </script>
	{% endif %}
{% endblock %}
